*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Caveat", cursive;
  width: 100vw;
  height: 100vh;
  padding: 0 10vw;
}

/* HEADER */

h1 {
  text-align: center;
  font-size: 6rem;
}

/* GRID SIZE SLIDER CONTAINER */

.gridSizeSlider-container {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  padding: 1vh 10%;
}

.slider {
  max-width: 500px;
  flex: 1;
  cursor: pointer;
}

.slider-value {
  font-size: 1.5rem;
}

/* BUTTONS CONTAINER */

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.buttons {
  padding: 4px 16px;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  border: 3px solid grey;
  border-radius: 30px;
}

.buttons:hover {
  background-color: grey;
  cursor: pointer;
}

.buttons:active {
  transition: 0.1s;
  background-color: darkgray;
}

/* SKETCH CONTAINER */

.grid-container {
  margin: 2vh 10vw;
  border: 5px solid gray;
  border-radius: 10px;
  height: 500px;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.grid-box {
  border: 5px solid blue;
}
